[alias]
    st = status
    co = checkout
    ci = commit
    chp = cherry-pick
    # Reset current branch to its upstream HEAD
    ru = "!git reset --hard upstream/\"$(git rev-parse --abbrev-ref HEAD)\""
    # From: http://durdn.com/blog/2012/11/22/must-have-git-aliases-advanced-examples/
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    cine = commit --amend --no-edit
    wip = commit -m 'wip' --no-verify

[user]
    name = Patrick Mowrer
    email = pmowrer@gmail.com

[color]
    ui = True
    diff = True
    branch = True
